{% extends  'base.html.twig'%}
{% block title %}Panneau d'administration{% endblock %}
{% block reseauSociaux %}
    <!-- Facebook -->
    <meta property="og:url"
          content="{{ app.request.uri }}"/>
    <meta property="og:type"
          content="website"/>
    <meta property="og:title"
          content="Panneau d'administration"/>
    <meta property="og:description"
          content="[ADMIN] Gérez le site grâce à votre interface d'administration"/>
    <meta property="og:image"
          content="https://nsa40.casimages.com/img/2019/01/21/190121042431976526.png"/>
    <!-- Twitter -->
    <meta name="twitter:card"
          content="summary">
    <meta name="twitter:title"
          content="Panneau d'administration">
    <meta name="twitter:description"
          content="[ADMIN] Gérez le site grâce à votre interface d'administration">
{% endblock %}

{% block body %}
    <h1 class="my-4">Administration</h1>
    <p class="lead">Cette section vous permet de réaliser l'intégralité des fonctions d'administration de l'application et de ses membres.</p>
    <ul>
        <li>
            <a href="{{ path('adminUser_page') }}">Administration des membres</a>
        </li>
        <li>
            <a href={{ path('viewPrize_page') }}>Gérer les lots</a>
        </li>
        <li>
            <a href="{{ path('viewModel_page') }}">Gérer les modèles</a>
        </li>
        <li>
            <a href="{{ path('viewCouponCode_page') }}">Gérer les coupons</a>
        </li>
    </ul>
{% endblock %}