{% extends "base.html.twig" %}

{% block body %}

    <h1>Liste des modèles</h1>
    <p class="lead">Sur cette page sont exposés tout les modèles. Vous pouvez modifier les modèles existant ou alors en créer de nouveaux.</p>
    <section class="models">
        <table class="table table-hover">
            <tr scope="col">
                <td>Id</td>
                <td>Nom</td>
                <td>Catgégorie</td>
                <td>Nombre de ticket requis</td>
                <td>Administration</td>
            </tr>
            {% for model in models %}
                <tr scope="col">
                    <td>{{ model.id }}</td>
                    <td>{{ model.name }}</td>
                    <td>{{ model.category }}</td>
                    <td>{{ model.goal }}</td>
                    <td>{{ model.duration }} jours</td>
                </tr>
            {% endfor %}
        </table>

    </section>
{% endblock %}