{% extends 'base.html.twig' %}


{% block body %}
    <h1>Vous voulez modifier vos informations personnelles ?</h1>
    <p class="lead">Remplissez les champs dont vous voulez modifier les informations.</p>
    <div class="card border-dark mb-3" style="max-width: 20rem;">
        <div class="card-header">Vos informations actuelles</div>
        <div class="card-body">
            <h5 class="card-title">Adresse postale</h5>
            <p class="card-text">{{ app.user.adresse }}</p>
        </div>
        <div class="card-body">
            <h5 class="card-title">Adresse email</h5>
            <p class="card-text">{{ app.user.email }}</p>
        </div>
    </div>

    {{ form_start(form) }}
    {{ form_row(form.adresse, {'label': 'Adresse postale', 'attr': {'placeholder': 'Votre nouvelle adresse postale', 'value': ''}}) }}
    <hr class="my-4">
    {{ form_row(form.email, {'label': 'Adresse email', 'attr': {'placeholder': 'Votre nouvelle adresse email', 'value': ''}}) }}
    {{ form_row(form.confirm_email, {'label': 'Confirmation adresse email', 'attr': {'placeholder': 'Confirmez votre nouvelle adresse email', 'value': ''}}) }}
    <hr class="my-4">
    {{ form_row(form.password, {'label': 'Mot de passe', 'attr': {'placeholder': 'Votre nouveau mot de passe'}}) }}
    {{ form_row(form.confirm_password, {'label': 'Confirmation mot de passe', 'attr': {'placeholder': 'Confirmez votre nouveau mot de passe'}}) }}
    <button type="submit" class="btn btn-success">Modification</button>
    {{ form_end(form) }}

{% endblock %}