{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des tirages en cours</h1>
    <div class="d-flex flex-wrap">
    {% for prize in prizes %}
        {% if prize.visible == false and prize.currentTicket == prize.goal %}
        <div class="card mb-4 ml-auto mr-auto text-center d-inline-flex" id="{{ prize.id }}">
            <h4 class="card-header">{{ prize.name }}</h4>
            <div  class="">
                <img class="w-100 max-w-img max-h-img" src="{{ prize.image }}" alt="Card image">
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Nombre de participant: {{ prize.nombreJoueur[0] }}</li>
                {% if prize.visible != 0 %}
                <li class="list-group-item">
                    <p class="list-group-p">Avancement :</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{ prize.pourcentage }}%"></div>
                    </div>
                </li>
                {% endif %}
                {% if  prize.visible == 1 %}
                    <li class="list-group-item timer">Fini le: {{ prize.strEndDate }}</li>
                    {% else %}
                    <li class="list-group-item timer">Ce lot est terminé !</li>
                {% endif %}
                <li class="list-group-item">
                {% if prize.visible == 1 %}
                    {% if is_granted('ROLE_USER') %}
                        {% if app.user.tickets == 0 %}
                            <a href="{{ path('earnTicket_page') }}">Récupérer des tickets</a>
                        {% else %}
                            <a href="{{ path('playPrize_page', {'id': prize.id}) }}" class="card-link">Jouer des tickets</a>
                        {% endif %}
                    {% elseif  app.user == false %}
                        <a href="{{ path('login_page') }}">Identifiez vous pour jouer !</a>
                    {% elseif app.user.active == 0 %}
                        <p class="list-group-p">Votre compte n'est pas actif</p>
                    {% endif %}
                {% elseif prize.visible == 0 and prize.currentTicket < prize.goal %}
                    <p class="list-group-p">Aucun joueur enregistré avant le temps imparti</p>
                    <p class="list-group-p">Dommage pour vous !</p>
                {% else %}
                    <p class="list-group-p">Ce lot à été remporté par: {{ prize.winner }}</p>
                {% endif %}
                </li>
            </ul>
        </div>
        {% endif %}
    {% endfor %}
        </div>
{% endblock %}