{% extends 'base.html.twig' %}

{% block body %}
    <h1>Gagner des tickets</h1>
    <p class="lead">Pour obtenir des tickets supplémentaires, vous pouvez entrer un code promo ou alors regarder des
        vidéos publicitaires.</p>
    <section id="codePromo">
        <h5>Entrez votre code dans le formulaire ci-dessous</h5>
        <form action="{{ path("useCouponCode_page") }}" method="post">
            <div class="form-group  mt-4">
                <label for="couponCode">votre code</label>
                <div class="d-flex  flex-wrap">
                    <input type="text" name="couponCode" id="couponCode" class="form-control col-lg-4 col-md-6 col-sm-7 col-8"
                           placeholder="entrez votre code ici ...">
                    {% for message in app.flashes('unusedCode') %}
                        <div class="alert alert-dismissible alert-success col-lg-4 col-md-6 col-sm-7 col-8">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('usedCode') %}
                    <div class="alert alert-dismissible alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}
                </div>
            </div>
            <button type="submit" class="btn btn-success">Valider</button>
        </form>
    </section>

    <hr class="my-4">

    <section id="videoPublicitaire">
        <h5>Regardez une vidéo afin de gagner vos tickets gratuitement</h5>
        <div id="videoForTickets" class="d-flex justify-content-center mt-5">
            {% for video in video %}
                <div id="player"  data-video-url="{{ video.url }}" data-video-id="{{ video.id }}" data-video-ticket="{{ video.ticket }}" data-video-path="{{ path('earnTicket_page') }}"></div>
            {% endfor %}
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="http://www.youtube.com/player_api"></script>
    <script type="text/javascript" src="{{ asset('js/youtubePlayer.js') }}"></script>
{% endblock %}

