{% extends 'base.html.twig' %}
{% block title %}
    {% if editMode %}
        Modifier la vidéo
    {% else %}
        Créer une nouvelle vidéo
    {% endif %}
{% endblock %}
{% block reseauSociaux %}
    {% if editMode %}
        <meta property="og:url"
              content="{{ app.request.uri }}"/>
        <meta property="og:type"
              content="website"/>
        <meta property="og:title"
              content="Modification d'une vidéo"/>
        <meta property="og:description"
              content="[ADMIN] Vous voulez modifier une vidéo ? c'est ici que ça se passe"/>
        <meta property="og:image"
              content="https://nsa40.casimages.com/img/2019/01/21/190121042431976526.png"/>
        <!-- Twitter -->
        <meta name="twitter:card"
              content="summary">
        <meta name="twitter:title"
              content="Modification d'une vidéo">
        <meta name="twitter:description"
              content="[ADMIN] Vous voulez modifier une vidéo ? c'est ici que ça se passe">
    {% else %}
        <!-- Facebook -->
        <meta property="og:url"
              content="{{ app.request.uri }}"/>
        <meta property="og:type"
              content="creation"/>
        <meta property="og:title"
              content="Création d'une vidéo"/>
        <meta property="og:description"
              content="[ADMIN] Vous voulez créer une nouvelle vidéo ? c'est ici que ça se passe"/>
        <meta property="og:image"
              content="https://nsa40.casimages.com/img/2019/01/21/190121042431976526.png"/>
        <!-- Twitter -->
        <meta name="twitter:card"
              content="summary">
        <meta name="twitter:title"
              content="Création d'une vidéo">
        <meta name="twitter:description"
              content="[ADMIN] Vous voulez créer une nouvelle vidéo ? c'est ici que ça se passe">
    {% endif %}
{% endblock %}

{% block body %}
    <h1 class="my-4">
        {% if editMode %}
            Modifier la vidéo
        {% else %}
            Créer une nouvelle vidéo
        {% endif %}
    </h1>
    {{ form_start(form) }}
    {{ form_row(form.url, {'label': 'Code url', 'attr': {'placeholder': 'Le code de la vidéo Youtube'}}) }}
    {{ form_row(form.ticket, {'label': 'Tickets', 'attr': {'placeholder': 'Le nombre de tickets gagnés par l\'utilisateur'}}) }}
    <button type="submit" class="btn btn-success">
        {% if editMode %}
            Modifier
        {% else %}
            Créer
        {% endif %}
    </button>
    {{ form_end(form) }}
{% endblock %}