{% extends 'base.html.twig' %}
{% block title %}Liste des videos{% endblock %}
{% block reseauSociaux %}
    <!-- Facebook -->
    <meta property="og:url"
          content="{{ app.request.uri }}"/>
    <meta property="og:type"
          content="website"/>
    <meta property="og:title"
          content="Liste des videos"/>
    <meta property="og:description"
          content="[ADMIN] Vous pouvez consulter et administrer les videos."/>
    <meta property="og:image"
          content="https://nsa40.casimages.com/img/2019/01/21/190121042431976526.png"/>
    <!-- Twitter -->
    <meta name="twitter:card"
          content="summary">
    <meta name="twitter:title"
          content="Liste des videos">
    <meta name="twitter:description"
          content="[ADMIN] Vous pouvez consulter et administrer les videos.">
{% endblock %}

{% block body %}
    <h1 class="my-4">Liste des videos</h1>
    <p class="lead">Sur cette page sont exposés toute les videos. Vous pouvez modifier les videos existantes ou alors en créer de nouvelles.</p>
    <section class="models">
        <table class="table table-hover">
            <tr>
                <td>Id</td>
                <td>Code url Youtube</td>
                <td>Nombre de tickets gagnés</td>
            </tr>
            {% for video in videos %}
                <tr>
                    <td>{{ video.id }}</td>
                    <td>{{ video.url }}</td>
                    <td>{{ video.ticket }}</td>
                    <td>
                        <form action="{{ path('modifyVideo_page', {'id' : video.id}) }}" method="post">
                            <button class="btn btn-warning" type="submit" name="action" value="modifyModel">Modifier la vidéo</button>
                            <button class="btn btn-danger" type="submit" name="action" value="deleteModel" onclick="return confirm('Etes vous sûr de vouloir supprimer cette vidéo ?')">Supprimer la vidéo</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <form action="{{ path('newVideo_page') }}" method="post">
            <button  class="btn btn-success" type="submit" name="newmodel">Ajouter une nouvelle vidéo</button>
        </form>
    </section>
{% endblock %}