{% extends 'base.html.twig' %}
{% block title %}Modifier un lot{% endblock %}
{% block reseauSociaux %}
    <!-- Facebook -->
    <meta property="og:url"
          content="{{ app.request.uri }}"/>
    <meta property="og:type"
          content="website"/>
    <meta property="og:title"
          content="modification d'un lot"/>
    <meta property="og:description"
          content="[ADMIN] Cette page vous permet de modifier les lots présents sur le site."/>
    <meta property="og:image"
          content="https://nsa40.casimages.com/img/2019/01/21/190121042431976526.png"/>
    <!-- Twitter -->
    <meta name="twitter:card"
          content="summary">
    <meta name="twitter:title"
          content="modification d'un lot">
    <meta name="twitter:description"
          content="[ADMIN] Cette page vous permet de modifier les lots présents sur le site.">
{% endblock %}

{% block body %}
    <h1 class="my-4">Modification du lot</h1>
    <p class="lead">Pour modifier une ou plusieurs données de ce lot, veuillez remplacer les données présentes dans les
        champs voulus</p>

    {{ form_start(form) }}
    {{ form_row(form.name, {'label': 'Nom', 'attr': {'placeholder': 'Le nouveau nom du lot'}}) }}
    {{ form_row(form.currentTicket, {'label': 'Nombre de tickets actuellement joués', 'attr': {'placeholder': 'La catégorie du nouveau lot'}}) }}
    {{ form_row(form.goal, {'label': 'Nombre de tickets à atteindre', 'attr': {'placeholder': 'Le lien de l\'image du lot'}}) }}
    {{ form_row(form.endDate, {'label': 'Date de fin', 'attr': {'placeholder': 'Ajoutez un nombre de ticket à atteindre pour ce type de lot'}}) }}
    {{ form_row(form.image, {'label': 'Lien de l\'image', 'attr': {'placeholder': 'Vous pouvez modifier la durée maximale du lot'}}) }}
    {{ form_row(form.visible, {'label': 'Visible pour les visiteurs', 'attr': {'placeholder': 'Vous pouvez modifier la durée maximale du lot'}}) }}
    <button type="submit" class="btn btn-success">Modifier</button>
    {{ form_end(form) }}
{% endblock %}